.advantages-town__list {
  font-size: 14px;
  line-height: 21px;
}

.advantages-town__item {
  list-style: none;
}

.advantages-town__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  padding-bottom: 10px;
}

.advantages-town__wrapper {
  margin-top: 35px;
  margin-bottom: 68px;
}
