.town__wrapper {
  background-color: #81b3d2;
  color: white;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 24px;
  line-height: 1.5;
}

.advantages-town__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
}

.advantages-town__discription {
  font-size: 14px;
  line-height: 21px;
}

.advantages-town__list {
  font-size: 14px;
  line-height: 21px;
}

.advantages-town__item {
  list-style: none;
}

.advantages-town__item__title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.44;
}
