.bridge__wrapper {
  background-color: #81b3d2;
  color: white;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 24px;
  line-height: 1.5;
}

.advantages-bridge__discription {
  font-size: 14px;
  line-height: 21px;
}

.advantages-bridge__list {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advantages-bridge__item__title {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.advantages-bridge__item {
  list-style: none;
}
