.bridge__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  padding-top: 1px;
  margin-top: 15px;
  padding-bottom: 5px;
}

.bridge-text {
  padding-top: 5px;
  padding-bottom: 40px;
  padding-left: 28px;
  padding-right: 25px;
}

.bridge-wrapper {
  padding-top: 25px;
}

.bridge {
  line-height: 1.5;
}
