.bridge__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  padding-bottom: 10px;
}

.bridge-text {
  margin-top: 35px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.bridge-wrapper {
  padding-top: 25px;
  padding-bottom: 45px;
}
