.conditions__item {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.conditions__title {
  font-weight: bold;
  line-height: 1.44;
  padding-bottom: 10px;
}

.conditions {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}
