// @font-face {
//   font-family: "PT Sans";
//   font-style: normal;
//   font-weight: 400;
//   src: "../../fonts/ptsans.woff" format("woff"),
//     "../../fonts/ptsans.woff2" format("woff2");
// }

@font-face{
  font-family: 'PT Sans';
  src: url('../../fonts/ptsans.woff') format('woff'),
    url('../../fonts/ptsans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
