.footer {
  display: flex;
}

// .footer__item {
//   width: 33, 3333%;
// }

.footer__item:nth-child(2) {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.icon-footer path {
  fill: $white-color;
}

.footer__list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-color;
  width: 48px;
  height: 47px;
}

.footer__list-link:nth-child(2) {
  margin-right: 5px;
  margin-left: 5px;
}

.footer__title {
  color: $black-color;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.footer__item:nth-child(3) {
  padding-top: 27px;
  padding-left: 1px;
  font-size: 14px;
  color: $black-color;
}
