.footer {
  display: flex;
}

.footer__title {
  color: $black-color;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
}

.footer__item:nth-child(2) {
  display: flex;
  justify-content: center;
}

.icon-footer path {
  fill: $white-color;
}

.footer__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-color;
  width: 48px;
  height: 47px;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__link-img {
  margin-left: 13px;
}

.copyright__link-img path {
  fill: $black-color;
}

.footer__list-link:nth-child(2) {
  margin-right: 5px;
  margin-left: 5px;
}

@media (max-width: $mobile-width-only) {
  .footer__item {
    padding-top: 10px;
  }

  .footer__item--form {
    padding-top: 20px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footer__title {
    margin-top: 30px;
  }

  .footer__item:nth-child(3) {
    padding-top: 40px;
    padding-left: 1px;
    font-size: 14px;
    color: $black-color;
  }

  .footer__item:nth-child(2) {
    padding-top: 18px;
  }

  .footer__item--fhoto {
    padding-top: 20px;
  }
}

@media only screen and (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .footer__item--fhoto {
    padding-top: 1px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100px;
  }

  .footer__item {
    display: flex;
    align-items: center;
    width: 33.3%;
  }

  .footer-copyright {
    padding-left: 31px;
  }

  .footer__title {
    padding-right: 24px;
  }
}
