.main-wrapper {
  text-align: center;
}

.text-wrapper {
  text-align: left;
  margin-left: 20px;
}

.photo-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  margin-bottom: 1px;
}

.photo-text {
  font-size: 14px;
  text-transform: none;
  margin-bottom: 30px;
}

.photo-number {
  padding-top: 5px;
}

.photo-wrapper {
  padding-bottom: 30px;
}
