.main-nav {
  background-color: #81b3d2;
  font-size: 16px;
  color: white;
}

.site-list__item {
  list-style: none;
  padding-top: 18px;
  padding-bottom: 19px;
}

.site-link {
  text-decoration: none;
}

.main-nav__wrapper {
  text-align: center;
}
