.title_white {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  margin-bottom: 4px;
}

.text_white {
  font-size: 14px;
  line-height: 1.44;
  margin-top: 10px;
}

.main-wrapper {
  background-color: $blue-color;
  color: $white-color;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 26px;
  line-height: 1.5;
}
