.button-wrapper {
  padding-top: 20px;
}

.form-title {
  padding-top: 35px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
}

.bg-form-grey {
  background-color: $bg-form-grey;
}

.form-impression {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-item {
  align: left;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.name-field,
.surname-field,
.patronym-field,
.phone-field,
.email-field {
  height: 58px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding-left: 22px;
}

.item-surname {
  margin-right: 16px;
}

.item-patronym {
  margin-right: 12px;
}

.item-name {
  margin-right: 14px;
}

.patronym-field {
  width: 194px;
  padding-left: 20px;
}

.page-title__text--form {
  padding-bottom: 20px;
}

.form {
  padding-top: 15px;
}

.item-sights,
.item-effect {
  display: none;
}

.item-sights + label {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding-left: 70px;
  padding-bottom: 80px;
  cursor: pointer;
  text-align: center;
}

.item-sights + label::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: "";
  padding: 5px;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.item-sights:checked + label::before {
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../img/icon-tick.svg") no-repeat scroll 0 0;
  background-size: auto;
  background-position: center;
  background-color: #f2f2f2;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../../img/tick-svg@2x.png");
  }
}

.form-id {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.name-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}

.item-phone,
.item-email {
  padding-left: 22px;
  padding-top: 4px;
}


@media (max-width: $mobile-width-only) {
  .form-contact--wrapper {
    padding-bottom: 20px;
  }

  .form-sights__list,
  .form-impression__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: $black-color;
  }

  .form-sights__list {
    margin-left: 20px;
  }

  .item-sights + label {
    padding-left: 77px;
    padding-bottom: 35px;
    padding-top: 19px;
  }

  .item-effect + label {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding-left: 90px;
    padding-bottom: 15px;
    cursor: pointer;
    text-align: center;
    padding-top: 30px;
  }

  .item-effect + label::before {
    position: absolute;
    display: block;
    content: "";
    padding: 5px;
    width: 46px;
    height: 46px;
    left: 20px;
    top: 15px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
  }

  .item-effect:checked + label::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    left: 20px;
    top: 15px;

    background-color: #f2f2f2;
    border-radius: 50%;
  }

  .item-effect:checked + label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 39px;
    top: 35px;
    background-color: black;
    border-radius: 50%;
  }

  .form-item {
    width: 88%;
    padding-top: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .name-title {
    width: 100%;
  }

  .name-field {
    width: 230px;
  }

  .surname-field {
    width: 178px;
  }

  .patronym-field {
    width: 194px;
  }

  .form-id--wrapper {
    box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
    padding-bottom: 22px;
  }

  .form-contact {
    box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
  }

  .form-impression {
    padding-bottom: 30px;
    box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
  }

  .form-title--impression {
    padding-top: 19px;
  }

  .form-sights {
    padding-bottom: 10px;
    box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2);
  }

  .phone-field,
  .email-field {
    width: 280px;
    height: 58px;
    margin-top: 13px;
  }

  .form-item--contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
  }

  .form-title--sights,
  .form-title--contact,
  .form-title--emotion,
  .form-title--impression {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
  }

  .form-title--contact {
    padding-top: 18px;
  }

  .form-title--emotion {
    margin-bottom: 10px;
    padding-top: 15px;
  }

  .form-title--sights {
    padding-top: 15px;
    padding-bottom: 10px;
  }

  .emotion-filds {
    padding-left: 21px;
    padding-right: 33px;
    padding-top: 22px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .revocation_button {
    margin-top: 20px;
    margin-bottom: 24px;
    width: 280px;
    height: 58px;
  }

  .footnote-wrapper {
    display: none;
  }

  .form-id {
    align-items: center;
  }

  .item-phone,
  .item-email {
    padding-top: 18px;
  }
}

@media only screen and (min-width: $tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-title--sights,
  .form-title--contact,
  .form-title--emotion,
  .form-title--impression {
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
  }

  .form-title--sights {
    position: relative;
    width: 50%;
    padding-top: 20px;
  }

  .form-title--sights::before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 125px;
    height: 1px;
    top: 45px;
    right: 390px;
    background-color: $bg-darkgrey;
  }

  .form-title--sights::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 120px;
    height: 1px;
    top: 45px;
    left: 390px;
    background-color: $black-color-two;
  }

  .form-title--contact {
    padding-top: 40px;
    padding-bottom: 6px;
    position: relative;
  }

  .form-title--contact::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 120px;
    height: 1px;
    top: 54px;
    left: 335px;
    background-color: $black-color-two;
  }

  .form-title--contact::before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 125px;
    height: 1px;
    top: 54px;
    right: 330px;
    background-color: $bg-darkgrey;
  }

  .form-title--emotion {
    padding-bottom: 52px;
    position: relative;
    padding-top: 30px;
  }

  .form-title--emotion::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 120px;
    height: 1px;
    top: 40px;
    left: 335px;
    background-color: $black-color-two;
  }

  .form-title--emotion::before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 125px;
    height: 1px;
    top: 40px;
    right: 330px;
    background-color: $bg-darkgrey;
  }

  .form-impression {
    order: 0;
    width: 50%;
    border-right: 0.5px grey solid;
  }

  .form-id--wrapper {
    order: 1;
    flex-grow: 1;
    text-align: left;
    margin-left: 50px;
  }

  .form-contact {
    order: 3;
    width: 100%;
    padding-bottom: 35px;
  }

  .form-sights {
    order: 4;
    width: 100%;
  }

  .form-emotion {
    order: 5;
    width: 100%;
  }

  .emotion-filds {
    width: 648px;
    height: 160px;
    padding-left: 21px;
    padding-right: 33px;
    padding-top: 22px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 63px;
    padding-right: 59px;
    margin-bottom: 59px;
  }

  .revocation_button {
    width: 324px;
    height: 58px;
    padding-left: 40px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-top: 30px;
    text-align: center;
  }

  .form-sights__list {
    width: 70%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: $black-color;
  }

  .form-impression__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-transform: none;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: $black-color;
    margin: 50px 40px 1px 50px;
  }

  .item-patronym {
    margin-right: 18px;
  }

  .item-sights + label {
    display: block;
    padding-top: 15px;
    padding-left: 80px;
    padding-bottom: 45px;
  }

  .item-sights + label::before {
    left: 30px;
    top: 0;
  }

  .item-sights:checked + label::before {
    position: absolute;
    left: 30px;
    top: 0;
    background: url("../../img/icon-tick.svg") no-repeat scroll 0 0;
    background-size: auto;
    background-position: center;
    background-color: #f2f2f2;
    text-align: center;
  }

  .item-effect + label {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding-left: 80px;
    padding-bottom: 35px;
    cursor: pointer;
    text-align: center;
  }

  .item-effect + label::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    padding: 5px;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
  }

  .item-effect:checked + label::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    left: 0;
    background-color: #f2f2f2;
    border-radius: 50%;
  }

  .item-effect:checked + label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 20px;
    background-color: black;
    border-radius: 50%;
  }

  .form-title,
  .name-title {
    padding-top: 35px;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: normal;
    color: $black-color;
  }

  .form-title--impression {
    padding-top: 40px;
  }

  .name-title {
    text-align: left;
    padding-bottom: 40px;
  }

  .name-field {
    width: 216px;
  }

  .patronym-field {
    width: 180px;
  }

  .effect-field {
    padding-top: 18px;
  }

  .surname-field {
    width: 178px;
  }

  .form-item--contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 13px;
  }

  .item-phone,
  .item-email {
    width: 100%;
    text-align: left;
    padding-left: 55px;
    padding-bottom: 12px;
  }

  .item-email {
    padding-top: 10px;
  }

  .item-phone {
    padding-top: 10px;
  }

  .phone-field,
  .email-field {
    width: 648px;
  }

  .form-option--sights {
    width: 50%;
  }

  .form-item {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 19px;
  }

  .footnote {
    margin-top: 35px;
  }
}

@media only screen and (min-width: $desktop-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form-impression {
    order: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .form-title--sights {
    position: relative;
    width: 50%;
    padding-top: 10px;
    // padding-top: 20px;
  }


  // .form-title--sights {
  //   width: 30%;

  // }
  .form-title--sights::before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 280px;
    height: 1px;
    top: 35px;
    right: 390px;
    background-color: $bg-darkgrey;
  }

  .form-title--sights::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 280px;
    height: 1px;
    top: 35px;
    left: 365px;
    background-color: $black-color-two;
  }

  .form-title--contact {
    width: 100%;
    padding-top: 35px;
    padding-bottom: 6px;
    position: relative;
  }

  .form-title--contact::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 280px;
    height: 1px;
    top: 50px;
    left: 115px;
    background-color: $black-color-two;
  }

  .form-title--contact::before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 280px;
    height: 1px;
    top: 50px;
    right: 115px;
    background-color: $bg-darkgrey;
  }

  .form-title--emotion {
    padding-bottom: 52px;
    position: relative;
    padding-top: 30px;
  }

  .form-title--emotion::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 280px;
    height: 1px;
    top: 40px;
    left: 335px;
    background-color: $black-color-two;
  }

  .form-title--emotion::before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 280px;
    height: 1px;
    top: 40px;
    right: 330px;
    background-color: $bg-darkgrey;
  }

  .form-id {
    order: 1;
  }

  .form-contact {
    order: 3;
    width: 100%;
    padding-bottom: 5px;
  }

  .form-sights {
    order: 4;
    width: 100%;
    display: flex;
  }

  .form-emotion {
    order: 5;
    width: 100%;
  }

  .emotion-filds {
    width: 960px;
    height: 160px;
  }

  .name-field {
    width: 350px;
  }

  .surname-field {
    width: 312px;
  }

  .patronym-field {
    width: 314px;
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 55px;
  }

  .revocation_button {
    width: 480px;
    padding-bottom: 20px;
    padding-top: 18px;
  }

  .form-sights__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-left: 70px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: $black-color;
    width: 86%;
  }

  .item-effect + label {
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding-left: 85px;
    padding-bottom: 35px;
    cursor: pointer;
    text-align: center;
  }

  .item-effect + label::before {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    content: "";
    padding: 5px;
    width: 46px;
    height: 46px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 50%;
  }

  .item-effect:checked + label::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    left: 0;

    background-color: #f2f2f2;
    border-radius: 50%;
  }

  .item-effect:checked + label::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 20px;
    top: 20px;
    background-color: black;
    border-radius: 50%;
  }

  .item-phone--none,
  .item-email--none {
    display: none;
  }

  .phone-field {
    width: 315px;
    position: relative;
  }

  .email-field {
    width: 316px;
  }

  // .form-item {
  //   margin-top: 14px;
  //   margin-bottom: 10px;
  // }

  .form-item--contact {
    flex-wrap: nowrap;
    padding: 35px;
    margin-right: 1px;
    margin-left: 1px;
  }

  .form-contact--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 35px;
  }

  .item-phone,
  .item-email {
    padding-left: 1px;
    padding-bottom: 1px;
    text-align: left;
    width: auto;
    margin-right: 20px;
    position: relative;
  }

  .item-phone--none {
    display: none;
  }

  .item-phone::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 58px;
    height: 58px;
    top: -15px;
    left: 340px;
    background-image: url("../../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e5e5e5;
  }

  .item-email::after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 58px;
    height: 58px;
    top: -15px;
    left: 425px;
    background-image: url("../../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e5e5e5;
  }

  .form-title--impression {
    padding-top: 25px;
    padding-left: 70px;
    text-align: center;
  }

  .name-title {
    padding-top: 20px;
    text-align: left;
  }

  .form-option {
    width: 80%;
  }

  .form-id--wrapper {
    margin-left: 75px;
  }

  .form-option--sights {
    width: 25%;
  }
}
