@media (max-width: $mobile-width-only) {
  .button {
    width: 280px;
    padding-top: 17px;
    padding-bottom: 19px;
    margin-bottom: 50px;
    background-color: $blue-color;
    color: $white-color;
    font-size: 21px;
    line-height: 1.24;
    text-transform: uppercase;
    border: none;
    font-weight: bold;
  }
}

@media only screen and (min-width: $tablet-width) {
  .text-wrapper {
    text-align: center;
  }

  .button-wrapper {
    order: 6;
    width: 100%;
  }
}


@media only screen and (min-width: $desktop-width) {
  .button-wrapper {
    order: 6;
    width: 100%;
  }
}
