.header-bg {
  background-image: "../../img/bg-back-mobile@1x.jpg";
  background-repeat: no-repeat;
}

.page-header__title {
  font-size: 18px;
  margin-bottom: 35px;
}

.page-header__text {
  margin-top: 25px;
  font-size: 14px;
  font-weight: normal;
}

.header-title_wrapper{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  line-height: 1.44;
}
