.page-photo__wrapper {
  padding-top: 30px;
  line-height: 1.71;
  padding-left: 20px;
  padding-right: 10px;
}

.page-photo__text {
  padding-top: 10px;
  padding-bottom: 30px;
  font-weight: 500;
}
