.header-bg {
  background-image: "../../img/bg-back-mobile@1x.jpg";
  background-repeat: no-repeat;
}

.page-header__title {
  font-size: 18px;
  text-weight: bold;
  text-align: center;
  padding-left: 32px;
  padding-right: 33px;
  line-height: 1.44;
}

.page-header__text {
  padding-left: 30px;
  padding-right: 30px;
  color: #333333;
}
