.town-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: white;
}

.town-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.some {
  display: flex;
  flex-wrap: wrap;
}

.some-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.33333%;
  min-height: 230px;
  background: $blue-color;
  padding: 20px;
  line-height: 1.44;
}

.town-img {
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 256px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
}

.icons-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 33.333333%;
  background: $white-color;
}

.icons-inner {
  width: 100%;
}

.icons-ico {
  width: 50px;
  margin: 0 auto;
}

.icons-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}

.icons-item img {
  width: 100%;
}

.icons-text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $black-color-two;
}

.svg path {
  fill: $blue-color;
}

.svg rect {
  fill: $blue-color;
}

.svg circle {
  fill: $blue-color;
}

.svg polygon {
  fill: $blue-color;
}

@media only screen and (max-width: 767px) {
  .some-info {
    width: 100%;
  }

  .icons {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .icons-item {
    width: 100%;
    justify-content: flex-start;
    min-height: 120px;
    padding: 1px 1px 1px 20px;
  }

  .icons-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .icon-house {
    width: 37px;
    height: 36px;
  }

  .icon-burger {
    width: 40px;
    height: 35px;
  }

  .icon-gift {
    width: 32px;
    height: 38px;
  }

  .icons-title {
    padding-left: 10px;
  }

  .icons-text {
    padding-top: 10px;
    padding-left: 50px;
    text-align: left;
  }
}


@media (max-width: $mobile-width-only) {
  .town_info {
    position: relative;
    padding-top: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 37px;

      background-image: url("../img/white-copy-2 (1).svg");
      background-repeat: no-repeat;
    }
  }

  .town-img {
    height: 260px;
    width: 100%;
    background-image: url("../img/main-city-mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/main-city-mobile@2x.jpg");
    }
  }

  .icons {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .icons-ico {
    width: 40px;
    margin: 0;
  }

  .icons-item {
    text-align: center;
  }

  .icons-text--food {
    padding-right: 30px;
  }

  .town-title {
    padding-top: 15px;
    margin-bottom: 15px;
  }

  .town-text:nth-child(odd) {
    margin-top: 10px;
  }
}

@media only screen and (min-width: $tablet-width) {
  .town-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    margin-top: 1px;
    padding-top: 10px;
    margin-bottom: 15px;
  }

  .town-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .town-text {
    padding-left: 20px;
    padding-right: 20px;

    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
  }

  .town-text:nth-child(odd) {
    margin-top: 20px;
  }


  .town-img {
    height: 256px;
    background-image: url("../../img/main-city-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../../img/main-city-tablet@2x.jpg");
    }
  }

  .some-info {
    min-height: 256px;
    padding: 15px 25px 25px 25px;
  }

  .icons-item {
    min-height: 330px;
  }

  .icons-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;
    padding-bottom: 20px;
  }

  .icons-ico {
    margin: 0 auto;
    width: 100px;
    padding-bottom: 20px;
  }

  .icon-house {
    width: 75px;
    height: 72px;
  }

  .icon-burger {
    width: 77px;
    height: 68px;
  }

  .icon-gift {
    width: 64px;
    height: 75px;
  }

  .item-house {
    order: 0;
  }

  .item__food {
    order: 1;
  }

  .item-gift {
    order: 2;
  }

  .icons-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    width: 65%;
  }

  .icons-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: $desktop-width) {
  .some-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .town-title {
    width: 60%;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-top: 1px;
  }

  .town-text:nth-child(odd) {
    margin-top: 25px;
    width: 90%;
  }

  .some-text {
    width: 100%;
    margin: 0;
    margin-top: 9px;
  }

  .some-info {
    padding: 15px 45px 25px 45px;
  }

  .item-house {
    order: 0;
    width: 75px;
    height: 72px;
  }

  .item__food {
    order: 1;
  }

  .item-gift {
    order: 2;
  }

  .icons-item {
    min-height: 330px;
    width: 33.33%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icons-title {
    font-size: 21px;
    font-weight: bold;
    line-height: 1.24;
    color: #000000;
    padding-bottom: 20px;
  }

  .icons-ico {
    margin: 0 auto;
    width: 100px;
    padding-bottom: 20px;
  }

  .icon-house {
    width: 75px;
    height: 72px;
  }

  .icon-burger {
    width: 77px;
    height: 68px;
  }

  .icon-gift {
    width: 64px;
    height: 75px;
  }

  .icons-text {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    width: 75%;
  }

  .icons-text__gift {
    display: block;
  }
}
