.town_info {
  padding-top: 61px;
  padding-bottom: 41px;
}

.town__img {
  flex-grow: 1;
}

.town__img img {
  width: 100%;
}

.town__text {
  padding-right: 28px;
  padding-left: 28px;
  padding-top: 6px;
}
