$blue-color:#81b3d2;
$white-color:#ffffff;
$black-color:#000000;
$black-color-two:#333333;
$bg-darkgrey: #292929;
$bg-lightgrey: #f8f5f2;
$bg-form-grey:#f2f2f2;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
