.video-wrapper__text {
  margin-left: 43px;
  margin-right: 42px;
  line-height: 1.71;
}

.video__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.71;
}

.video__text {
  padding-top: 10px;
  padding-bottom: 20px;
}
