.video-wrapper__text {
  margin-left: 43px;
  margin-right: 42px;
  line-height: 1.71;
}

.video__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.71;
}

.video__text {
  padding-top: 10px;
  padding-bottom: 20px;
}

.video__img {
  height: 201px;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: top center;
  background-color: #546307;
}

.video__wrapper {
  position: relative;
}

.video {
  background-color: $white-color;
}

@media (max-width: $mobile-width-only) {
  .video-wrapper {
    margin-bottom: 90px;
  }

  .video-wrapper__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .video__title {
    width: 100%;
    padding-top: 15px;
  }

  .video__text {
    width: 100%;
  }

  .video__img {
    margin-top: 18px;
    position: relative;
    background-image: url("../img/video-mobile@1x.jpg");
    background-color: #546307;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/video-mobile@2x.jpg");
    }
  }

  .video-slider {
    position: absolute;
    background-color: black;
    top: 155px;
    height: 45px;
    width: 280px;
    opacity: 0.6;
    margin-left: 21px;
    margin-right: 20px;
  }

  .video__setting {
    position: absolute;
    background-image: url("../img/bg-nature.png");
    top: 200px;
    height: 66px;
    width: 280px;
    opacity: 0.6;
    margin-left: 21px;
    margin-right: 20px;
  }

  .replay__button,
  .fullscreen__button,
  .subtitles__button {
    border: none;
    background-color: inherit;
  }

  .video-scale {
    position: absolute;
    top: 177px;
    height: 3px;
    width: 235px;
    background-color: white;
    opacity: 0.2;
    left: 43px;
  }

  .video__img-slider {
    position: absolute;
    top: 173px;
    left: 78px;
    width: 11px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
  }

  .replay {
    position: absolute;
    top: 223px;
    left: 47px;
  }

  .subtitles {
    position: absolute;
    top: 223px;
    right: 94px;
  }

  .fullscreen {
    position: absolute;
    top: 223px;
    right: 45px;
  }

  .replay__svg path {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:active {
      fill: #333333;
      opacity: 0.3;
    }
  }

  .fullscreen__svg polygon {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:active {
      fill: #333333;
      opacity: 0.3;
    }
  }

  .subtitles__svg path {
    fill: #5c6870;

    &:hover {
      fill: #333333;
    }

    &:active {
      fill: #333333;
      opacity: 0.3;
    }
  }
}

@media only screen and (min-width: $tablet-width) {
  .video {
    padding-bottom: 45px;
  }

  .video__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.87;
    color: $black-color;
    width: 100%;
  }

  .video-wrapper__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .video__text {
    width: 64%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: $black-color-two;
  }

  .video__img {
    height: 499px;
    width: 648px;
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
    background-image: url("../img/video-tablet@1x.jpg");
    background-color: #546307;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .video-slider {
    position: absolute;
    background-color: black;
    top: 406px;
    height: 93px;
    left: 40px;
    width: 648px;
    opacity: 0.6;
    margin-left: 21px;
    margin-right: 20px;
  }

  .video-scale {
    position: absolute;
    top: 449px;
    height: 3px;
    width: 389px;
    background-color: white;
    opacity: 0.2;
    left: 153px;
  }

  .video__img-slider {
    position: absolute;
    top: 445px;
    left: 266px;
    width: 11px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
  }

  .replay {
    position: absolute;
    top: 439px;
    left: 95px;
  }

  .replay__button,
  .fullscreen__button,
  .subtitles__button {
    border: none;
    background-color: inherit;
  }

  .subtitles {
    position: absolute;
    top: 442px;
    right: 151px;
  }

  .fullscreen {
    position: absolute;
    top: 442px;
    right: 100px;
  }

  .subtitles__svg,
  .fullscreen__svg,
  .replay__svg,
  path,
  polygon {
    fill: $white-color;
    opacity: 1;
  }

  .replay__svg path {
    fill: $white-color;
    opacity: 1;

    &:hover {
      fill: $white-color;
      opacity: 0.6;
    }

    &:active {
      fill: $white-color;
      opacity: 0.3;
    }
  }

  .fullscreen__svg polygon {
    fill: $white-color;
    opacity: 1;

    &:hover {
      fill: $white-color;
      opacity: 0.6;
    }

    &:active {
      fill: $white-color;
      opacity: 0.3;
    }
  }

  .subtitles__svg path {
    fill: $white-color;
    opacity: 1;

    &:hover {
      fill: $white-color;
      opacity: 0.6;
    }

    &:active {
      fill: $white-color;
      opacity: 0.3;
    }
  }
}

@media only screen and (min-width: $desktop-width) {
  .video {
    padding-bottom: 78px;
  }

  .video-wrapper__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 47px;
    padding-bottom: 50px;
  }

  .video__title {
    width: 100%;
  }

  .video__text {
    width: 38%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: $black-color-two;
  }

  .video__img {
    height: 500px;
    width: 800px;
    text-align: center;
    margin-left: 199px;
    margin-right: 201px;
    background-image: url("../img/video-desktop@1x.jpg");
    background-color: #546307;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .video-slider {
    position: absolute;
    background-color: black;
    top: 406px;
    height: 93px;
    left: 178px;
    width: 800px;
    opacity: 0.6;
    margin-left: 21px;
    margin-right: 20px;
  }

  .video-scale {
    position: absolute;
    top: 450px;
    height: 3px;
    width: 540px;
    background-color: white;
    opacity: 0.2;
    left: 290px;
  }

  .video__img-slider {
    position: absolute;
    top: 448px;
    left: 402px;
    width: 11px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
  }

  .replay {
    position: absolute;
    top: 440px;
    left: 230px;
  }

  .subtitles {
    position: absolute;
    top: 440px;
    right: 295px;
  }

  .fullscreen {
    position: absolute;
    top: 440px;
    right: 242px;
  }
}
